.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    border: 4px solid gray;
}

.btn-primary {
    background-color: #32c800;
    color: #fff;
    border: 4px solid #127700;
}

.btn.btn-primary:hover {
    background-color: #279e00;
}

.btn-secondary {
    background-color: #ffffff;
    border: 4px solid #127700;
    color: #000;
}

.btn.btn-secondary:hover {
    background-color: #acd4ff;
    color: #000;
}

.btn mat-icon {
    font-size: 1.4em;
    height: 18px;
    width: 18px;
}

.btn-danger {
    background: #ff3300;
    color: #fff;
    border: 4px solid #701600;
}

.btn-danger:hover {
    background: #be2600;
}

.btn.disabled {
    background: #CFCFCF;
    color: #7e7e7e;
    pointer-events: none;
    border: 4px solid gray;
}