.full_absolute {
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container_vertical {
    display: flex;
    flex-direction: column;
}

.container_horizontal {
    display: flex;
    flex-direction: row;
}

.height_100 {
    height: 100%;
}

.width_100 {
    width: 100%;
}

.full {
    flex: 1;
}

.gap_30 {
    gap: 30px;
}

.gap_20 {
    gap: 20px;
}

.gap_10 {
    gap: 10px;
}

.gap_5 {
    gap: 5px;
}

.margin_bottom_10 {
    margin-bottom: 10px;
}

.margin_bottom_20 {
    margin-bottom: 20px;
}

.margin_bottom_30 {
    margin-bottom: 30px;
}

.margin_bottom_40 {
    margin-bottom: 40px;
}

.margin_10 {
    margin: 10px;
}

.padding_10 {
    padding: 10px;
}

.padding_20 {
    padding: 20px;
}

.padding_30 {
    padding: 30px;
}

.container_vertical.centered {
    justify-content: center;
}

.container_vertical.no_gap,
.container_horizontal.no_gap {
    gap: 0;
}

.container_horizontal.centered {
    justify-content: center;
}

.container_horizontal.vcentered {
    align-items: center;
}

.container_horizontal.end {
    justify-content: end;
}

.responsive_width_60 {
    margin-left: 20vw;
    margin-right: 20vw;
}

.square {
    aspect-ratio: 1/1;
}

.responsive_columns_3_2_1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
}

.responsive_columns_2_2_1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
}

.container_card {
    border: 4px solid gray;
    border-radius: 10px;
}

.container_card h1 {
    margin-bottom: 0;
}

.container_card h2 {
    margin-bottom: 0;
}

.container_card h3 {
    margin-bottom: 0;
}

.container_card.button {
    cursor: pointer;
    position: relative;
    top: 0;
    transition: top 0.2s linear;
}

.card_body {
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

.relative {
    position: relative;
}

.container_card.button:hover {
    top: -5px;

}

@media screen and (max-width: 1200px) {
    .responsive_width_60 {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .responsive_columns_3_2_1 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .container_horizontal.responsive_vertical {
        flex-direction: column;
    }

    .responsive_width_60 {
        margin-left: 0;
        margin-right: 0;
    }

    .responsive_columns_2_2_1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .responsive_columns_3_2_1 {
        grid-template-columns: repeat(1, 1fr);
    }
}