p {
    font-weight: 100;
    font-size: 1.2em;
}

h1,
h2,
h3,
p,
span,
strong {
    font-family: 'Comfortaa', "Helvetica Neue", sans-serif;
}

.text_centered {
    text-align: center;
}

.text_left {
    text-align: left;
}

.text_right {
    text-align: right;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}