.white_background {
    background-color: white;
    ;
}

.container_card.selected {
    background-color: #fff9bf;
}

.progress_bar {
    width: 38%;
    height: 14px;
    border: 4px solid #929292;
    border-radius: 29px;
    background-color: white;
    margin-bottom: 65px;
    position: relative;
}

.progress_inner {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(0, 208, 0);
    border-radius: 29px;
}

@media screen and (max-width: 1200px) {
    .progress_bar {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {}