<div class="container_vertical padding_30 min_height_100" [ngStyle]="topicStyle">
    <div class="container_horizontal">
        <div class="manito" (click)="goToTopicSelection()"><mat-icon>close</mat-icon></div>
        <div class="full container_horizontal centered">
            <div class="progress_bar">
                <div class="progress_inner" [ngStyle]="{'width': getProgress()}"></div>
            </div>
        </div>
        <div><mat-icon>heart</mat-icon></div>
    </div>
    <div class="container_vertical responsive_width_60" *ngIf="currentQuestion">
        <h1 class="margin_bottom_40">{{ currentQuestion.txt }}</h1>
        <div class="responsive_columns_2_2_1 gap_30 relative">
            <div *ngFor="let choice of currentQuestion.choices" (click)="selectChoice(choice)"
                [ngClass]="{'selected': choice == currentChoice}"
                class="container_card padding_30 button botton_shadow container_vertical white_background">
                <h2 class="card_footer black_subtitle">{{ choice.txt }}</h2>
            </div>
        </div>
        <div class="container_vertical margin_top_30">
            <div *ngIf="state == 'incorrect'" class="hint_card bad">
                <h3><mat-icon>cancel</mat-icon> Incorrecto</h3>
                <p>Respuesta correcta es:</p>
                <h3>{{ getCorrectAnswer() }}</h3>
            </div>
            <div *ngIf="state == 'correct'" class="hint_card good">
                <h3><mat-icon>check_circle</mat-icon> Correcto!</h3>
            </div>
            <button *ngIf="['pristine', 'selected'].indexOf(state) >= 0" class="btn btn-primary"
                [ngClass]="{'disabled': currentChoice==null}" (click)="verifyChoice()">Verificar</button>
            <button *ngIf="state == 'correct'" class="btn btn-primary" (click)="continue()">Continuar</button>
            <button *ngIf="state == 'incorrect'" class="btn btn-danger" (click)="continue()">OK</button>
        </div>
    </div>
</div>