<div class="container_vertical padding_30 height_100" [ngStyle]="topic?.backgroundStyle">
    <div class="container_horizontal">
        <div class="manito" (click)="goToTopicSelection()"><mat-icon>close</mat-icon></div>
        <div class="full container_horizontal centered">
            <div class="progress_bar">
                <div class="progress_inner" [ngStyle]="{'width': getProgress()}"></div>
            </div>
        </div>
        <div><mat-icon>heart</mat-icon></div>
    </div>
    <div class="container_vertical responsive_width_60" *ngIf="currentQuestion">
        <h1 class="margin_bottom_40">{{ currentQuestion.txt }}</h1>
        <div class="responsive_columns_2_2_1 gap_30 relative">
            <div *ngFor="let choice of currentQuestion.choices" (click)="selectChoice(choice)"
                [ngClass]="{'selected': choice == currentChoice}"
                class="container_card padding_30 button botton_shadow container_vertical white_background">
                <h2 class="card_footer black_subtitle">{{ choice.txt }}</h2>
            </div>
        </div>
    </div>
</div>