.white_background {
    background-color: white;
    ;
}

.container_card.selected {
    background-color: #fff9bf;
}

.progress_bar {
    width: 38%;
    height: 14px;
    border: 4px solid #929292;
    border-radius: 29px;
    background-color: white;
    margin-bottom: 65px;
    position: relative;
}

.progress_inner {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(0, 208, 0);
    border-radius: 29px;
}

.hint_card {
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.hint_card h3 {
    display: flex;
    gap: 20px;
    font-size: 1.5em;
}

.hint_card.bad {
    background-color: rgb(255 196 196);
    color: red;
}

.hint_card.good {
    background-color: rgb(221 255 212);
    color: rgb(22, 104, 0);
}

.red {
    color: red;
}

@media screen and (max-width: 1200px) {
    .progress_bar {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {}