<div class="container_vertical padding_30 local_full">
    <h1>Puntuaciones</h1>
    <div class="inner_canvas full container_vertical">
        <div class="container_vertical responsive_width_60">
            <div class="container_horizontal centered">
                <div class="my_profile" [innerHtml]="svgRadarSvg"></div>
            </div>
            <div class="container_vertical gap_10">
                <div class="topic_item container_horizontal vcentered gap_20" *ngFor="let topic of topics">
                    <div class="topic_icon" [ngStyle]="{'background-image':'url('+topic.image+')'}"></div>
                    <div class="topic_label full">
                        &nbsp;
                        <div class="progress_bar" [ngStyle]="getMyStyleByTopic(topic.id)"></div>
                        <div class="progress_bar_text">{{ topic.label }}</div>
                    </div>
                    <div class="topic_number">{{ getMyScoreByTopic(topic.id) }}</div>
                </div>
            </div>
        </div>
    </div>
</div>