<div class="container_vertical padding_30 local_full">
    <div class="inner_canvas full container_vertical">
        <div class="container_vertical responsive_width_60">
            <h1 class="text_centered">Puntuación personal</h1>
            <div class="container_horizontal centered">
                <div class="my_profile" [innerHtml]="svgRadarSvg"></div>
            </div>
            <div class="container_vertical gap_10">
                <div class="topic_item noselect manito container_horizontal vcentered gap_20"
                    *ngFor="let topic of topics" [ngClass]="{'selected': topic.id == selectedTopic?.id}"
                    (click)="selectTopic(topic)">
                    <div class="topic_icon" [ngStyle]="{'background-image':'url('+topic.image+')'}"></div>
                    <div class="topic_label full">
                        &nbsp;
                        <div class="progress_bar" [ngStyle]="getMyStyleByTopic(topic.id)"></div>
                        <div class="progress_bar_text">{{ topic.label }}</div>
                    </div>
                    <div class="topic_number">{{ getMyScoreByTopic(topic.id) }}</div>
                </div>
            </div>
            <div class="container_horizontal"><br><br><br></div>
            <h1 class="margin_bottom_0 text_centered">Puntuación global en<br><strong>{{ selectedTopic?.label
                    }}</strong></h1>
            <div class="container_horizontal"><br></div>
            <div class="container_vertical gap_10">
                <div class="user_item container_horizontal vcentered gap_10" *ngFor="let user of others; index as i;">
                    <div class="user_number" [innerHtml]="getUserNumber(i, user)"></div>
                    <div class="user_icon white_subtitle" [ngStyle]="getUserAvatarStyle(i, user)" [innerHtml]="getAvatar(i, user)">
                    </div>
                    <div class="full user_name"><strong>{{ user.name }}</strong></div>
                    <div class="user_score">{{ user.score }}</div>
                </div>
            </div>
            <div class="container_horizontal"><br><br><br></div>
        </div>
    </div>
</div>