<div class="container_vertical padding_30">
    <h1>Preguntas de entrenamiento</h1>
    <div class="container_vertical responsive_width_60">
        <div class="responsive_columns_3_2_1 gap_30">
            <div class="container_card button_shadow square">Hola</div>
            <div class="container_card button_shadow square">Como</div>
            <div class="container_card button_shadow square">Tu</div>
            <div class="container_card button_shadow square">Ten</div>
            <div class="container_card button_shadow square">Feliz</div>
            <div class="container_card button_shadow square">Dia</div>
        </div>
    </div>
</div>