<div class="container_vertical padding_30">
    <h1>Preguntas de entrenamiento</h1>
    <div class="container_vertical responsive_width_60">
        <div class="responsive_columns_3_2_1 gap_30 relative">
            <div *ngFor="let topic of topics" class="container_card padding_30 button botton_shadow square container_vertical">
                <h1 class="card_header black_subtitle">{{ topic.title }}</h1>
                <div class="card_body full"></div>
                <span class="card_footer black_subtitle">{{ topic.description }}</span>
            </div>
        </div>
    </div>
</div>